<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oluwaseun.ajo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/naira"
        android:label="@string/app_name"
        android:roundIcon="@drawable/naira"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.english.MainActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activities.yoruba.MainYorActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.english.LoginActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activities.yoruba.LoginYorActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activities.english.Register1Activity"/>

        <activity
            android:name=".activities.yoruba.RegisterYor1Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.english.Register2Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.english.Register3Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.yoruba.RegisterYor2Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.yoruba.RegisterYor3Activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.english.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.yoruba.DashboardYorActivity"
            android:label="@string/title_activity_dashboard_yor"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>